<footer class="footer-layout2" data-bg-src="/public/userassets/img/footer/footer-image-1-1.png">
    <div class="footer-widgets">
      <div class="container">
        <div class="row gy-4 justify-content-between">
          <div class="col-lg-3">
            <div class="footer-logo">
              <a href="index.html"><img src="/public/userassets/img/logo.svg" alt="logo"></a>
            </div>
            <div class="footer-info style2">
              <p><span>Address :</span> 966 munich Expressway
                Sue 700 Germany, TX 7859</p>
            </div>
            <a href="cart.html"><img src="/public/userassets/img/footer/payments.png" alt="payments"></a>
          </div>
          <div class="col-lg-auto">
            <div class="footer-widget">
              <h3 class="footer-title">Shopping</h3>
              <div class="footer-menu2">
                <a href="shop.html">Gift card</a>
                <a href="about.html">terms & conditions</a>
                <a href="about.html">privacy policy</a>
                <a href="about.html">delivery</a>
              </div>
            </div>
          </div>
          <div class="col-lg-auto">
            <div class="footer-widget">
              <h3 class="footer-title">About Store</h3>
              <div class="footer-menu2">
                <a href="about.html">Shopping</a>
                <a href="cart.html">Order Cart</a>
                <a href="about.html">Privacy Policy</a>
                <a href="about.html">Help</a>
              </div>
            </div>
          </div>
          <div class="col-lg-auto">
            <div class="footer-widget">
              <h3 class="footer-title">Subscribe for <span>newsletter</span></h3>
              <form class="footer-newsletter" action="#">
                <input type="email" placeholder="Enter your email">
                <button type="submit">
                  <svg width="20" height="14" viewBox="0 0 20 14" fill="none">
                    <path d="M12.43 0.930176L18.5 7.00018L12.43 13.0702M1.5 7.00018H18.33" stroke="#F5F1E6" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </button>
              </form>
              <h4 class="footer-title">follow</h4>
              <div class="social-style">
                <a class="facebook" href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                <a class="instagram" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                <a class="twitter" href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                <a class="linkedin" href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--==============================
      Footer Area End
  ==============================-->
</main>
<!-- ==============================
      Main Section Wrapper End
    ============================== -->
<a href="#" class="scrollToTop scroll-btn"><i class="far fa-arrow-up"></i></a>
<!--********************************
      Code End  Here 
******************************** -->
<!--==============================
      All Js File
  ============================== -->
<!-- Jquery -->
<script src="/public/userassets/js/vendor/jquery-3.6.0.min.js"></script>
<!-- Jquery UI -->
<script src="/public/userassets/js/jquery-ui.min.js"></script>
<!-- Slick Slider -->
<script src="/public/userassets/js/slick.min.js"></script>
<!-- Bootstrap -->
<script src="/public/userassets/js/bootstrap.min.js"></script>
<!-- WOW.js Animation -->
<script src="/public/userassets/js/wow.min.js"></script>
<!-- Magnific Popup -->
<script src="/public/userassets/js/jquery.magnific-popup.min.js"></script>
<!-- Image Loaded Jquery -->
<script src="/public/userassets/js/imagesloaded.pkgd.min.js"></script>
<!-- Gsap -->
<script src="/public/userassets/js/gsap.min.js"></script>
<!-- ScrollTrigger -->
<script src="/public/userassets/js/ScrollTrigger.min.js"></script>
<!-- ScrollToPlugin -->
<script src="/public/userassets/js/ScrollToPlugin.min.js"></script>
<!-- SplitText -->
<script src="/public/userassets/js/SplitText.min.js"></script>
<!-- Lenis -->
<script src="/public/userassets/js/bundled-lenis.min.js"></script>
<!-- Main Js File -->
<script src="/public/userassets/js/main.js"></script>
</body>


<!-- Mirrored from html.vecurosoft.com/luxrio/demo/index-3.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 08 Apr 2025 12:39:17 GMT -->
</html>