<%- include('../partials/userHeader') %>

<div class="breadcumb-wrapper" data-bg-src="/public/userassets/img/bg/breadcumb-bg-4.jpg">
  <img src="/public/userassets/img/shapes/dot-shape.svg" alt="dot" class="breadcumb-element">
  <div class="container z-index-common">
    <div class="breadcumb-content">
      <h1 class="breadcumb-title">error page</h1>
      <div class="breadcumb-menu-wrap">
        <ul class="breadcumb-menu">
          <li><a href="index.html">Home</a></li>
          <li>404 page</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- Error Area -->
<section class="z-index-common space-bottom">
  <div class="extra-shape"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="error-content">
          <h2>404</h2>
          <h3>Oops! That page can't be found.</h3>
          <p>Lorem ipsum dolor sit amet, conse elit, sedid that eiusmod aboret dolore magna aliqua conseel usndi
          </p>
          <a href="shop.html" class="vs-btn" tabindex="0">
            go back to homepage
            <i class="fa-light fa-arrow-right-long"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('../partials/userFooter') %>